@model EventsMedia.Models.ViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/css/LikedEvents.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @foreach (var item in Model.Posts)
    {
        <div class="container2" style="border-color:black;">
            <header class="header2">
                <span style="font-family:sans-serif; text-decoration:none; font-size:30px; color:white;">@Html.DisplayNameFor(model => model.post.PostTitle): </span>
                <span style="text-decoration:none; font-size:30px; color:white">@Html.DisplayFor(modelItem => item.PostTitle)</span>
            </header>
        </div>
        <div class="container2" style="border-color:black;">
            <button type="button" id="@item.PostId" class="fas fa-angle-double-down" value="@item.PostId" style="font-size:20px; margin:10px; text-align:center;"></button>
            <div class="@item.PostId"></div>
        </div>
        <div style="padding:30px;"></div>



        <script type="text/javascript">
            $(document).ready(function () {
                $("#@item.PostId").on('click', function () {
                    $(".@item.PostId").animate({
                        height: 'toggle'
                    },
                    );
                    var selectedid = $(this).val();
                    $.ajax({
                        type: 'GET',
                        data: { "id": selectedid },
                        url: "/AdventurePosts/EventsWithPostId",
                        success: function (data) {
                            $(".@item.PostId").html(data);
                        }
                    });
                });
            });

        </script>
    }




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</body>
</html>

@*<script type="text/javascript">

    $(document).ready(function () {
        $(".").click(function () {
            var selectedid = $(this).val();
            $.ajax({
                type: 'GET',
                data: { "id": selectedid },
                url: "/AdventurePosts/EventsWithPostId",
                success: function (data) {
                    $(".space").html(data);
                }
            });
        });
    });

</script>*@
