@model EventsMedia.Models.Customer

@{
    ViewData["Title"] = "GetRestaurant";
}

<h2>GetRestaurant</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    @using (Html.BeginForm("GetRestaurant", "Restaurants"))
    {
        @Html.HiddenFor(model => model.Latitude)
        @Html.HiddenFor(model => model.Longitude)
        @Html.HiddenFor(model => model.city_id)
        @Html.HiddenFor(model => model.entity_id)
        @Html.HiddenFor(model => model.entity_type)
        @Html.HiddenFor(model => model.cuisines)

        <tbody>
            @foreach (var item in Model.restaurants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        <input type="hidden" name="restaurant" value="@item.Key" />
                        <input type="hidden" name="restaurant" value="@item.Value" />
                        <input type="submit" value="submit" />
                    </td>
                </tr>
            }
        </tbody>
    }
    </table>
