@model EventsMedia.Models.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<html>
<head>
    <link href="~/css/LikedEvents.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.adventure.EventName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.adventure.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.adventure.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.adventure.Location)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Favorites)
                {
                    <tr class="border2">
                        <td>
                            @Html.DisplayFor(modelItem => item.Adventure.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adventure.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adventure.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adventure.Location)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.FavoriteId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
